body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
}

aside {
    width: 100vh;
    text-align: left;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

main {
    width: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.mainBottom {
    display: flex;
    flex-direction: row;
}

.x:hover {
    opacity: 50%;
    cursor: pointer;
}

.check:hover {
    opacity: 50%;
    cursor: pointer;
}

textarea {
    width: 200px;
    height: 50px;
    resize: none;
}